<div class="modal_container">
    <h2 class="mat-dialog-title">Edit task</h2>    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close id="close_button">❌</button>
       
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <input
              ngModel name="title" #title="ngModel" [(ngModel)]="assignment$.title" matInput required minlength="3">
            </mat-form-field>
        </form>   
          <mat-form-field class="textarea_edit">
            <mat-label>Description</mat-label>
            <textarea 
                      ngModel name="description" #description="ngModel"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      [(ngModel)]="assignment$.description"></textarea>
          </mat-form-field>
          <mat-form-field class="datepicker_edit" appearance="fill">
            <mat-label>Enter Start date - End date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
              ngModel name="startDate" #startDate="ngModel"
              matStartDate  [(ngModel)]="assignment$.startDate" required>
              <input 
              ngModel name="endDate" #endDate="ngModel"
              matEndDate  [(ngModel)]="assignment$.endDate" required>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          
          <mat-form-field class="dropdown_edit" appearance="fill">
            <mat-label>Assignee</mat-label>
            <mat-select ngModel name="assigneeId" #assigneeId="ngModel" required [(ngModel)]="assignment$.assigneeId">
              <mat-option 
              *ngFor="let assignee of assignees$" [value]="assignee.assigneeId">
                {{assignee.firstName}} {{assignee.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
          <mat-form-field class="dropdown_edit" appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select ngModel name="priorityId" #priorityId="ngModel" required [(ngModel)]="assignment$.priorityId">
              <mat-option *ngFor="let priority of priorities$" [value]="priority.priorityId">
                {{priority.priorityName}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
          <section class="input_field_container">
            <mat-checkbox id="checkbox"
            ngModel name="isClosed" #isClosed="ngModel" [checked]="isClosed.checked" [(ngModel)]="assignment$.isClosed"
            class="example-margin">Mark as done</mat-checkbox>
            <button mat-button (click)="editTask(title.value, description.value, startDate.value, endDate.value, assigneeId.value, priorityId.value, isClosed)" id="add_task_button">Save</button>
          </section>
    </mat-dialog-actions>
    </div>