<mat-accordion>
  <div *ngFor="let assignments of assignment">
    <mat-expansion-panel class="panel"
     (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" 
                         *ngIf="(assignments.isClosed==true)"
                        >      
      <mat-expansion-panel-header class="panel-header" >
        <mat-panel-title class="panel-title">
          <p>{{assignments.title}}</p>
        </mat-panel-title>
        <mat-panel-description class="desc">
          <p>{{getAssignee(assignments.assigneeId)}}</p>
        </mat-panel-description>
        <mat-panel-description class="dates">
          <p>{{assignments.startDate | date: 'mediumDate'}} - {{assignments.endDate | date: 'mediumDate'}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{assignments.description}}</p>
      <div class="inner-container">
        <div class="priority">{{assignments.priorityId == 1 ? 'Low' : (assignments.priorityId == 2? 'Medium' : (assignments.priorityId == 3? 'High' :  ''))}}</div>
        <div class="task-status">Closed</div>
        <div class="edit-delete-btns">
          <a title="Edit task" (click)="openEditDialog(assignments)"><img class="edit-icon" src="https://gyazo.com/f7d95e4cde3020bc2c397a101f0a0561.png" alt=""></a>
          <a title="Delete task" (click)="deleteTask(assignments.assignmentId)"><img class="delete-icon" src="https://i.gyazo.com/d03a3fd3b3da6243f8568ca7b5466412.png" alt=""></a>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  </mat-accordion>

