.mat-form-field+.mat-form-field {
	margin-left: 8px;
}

*{
	font-family: 'Rubik';
}

.panel {
	width: 1100px;
	background-color: #E6E6E6;
	color: black;
	border-bottom: 2px solid #a1aeb9;
	border-radius: 0px;
	margin-bottom: 10px;
	box-shadow: none;
}

.panel-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-header p{
	margin: 0;
	color: black;
}

.panel-title {
	color: black;
	width: 30%;
}

.desc {
	margin-left: 50px;
	width: 15%;
}

.dates{
	width: 25%;
}

::ng-deep .mat-expansion-indicator:after {
	color: black;
}

.inner-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-icon {
	width: 19px;
	margin-left: 10px;
	cursor: pointer;
}

.edit-icon {
	width: 24px;
	cursor: pointer;
}

.edit-delete-btns img:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.priority{
	background-color: #2A3F4C;
	color: white;
	padding: 5px 20px;
	font-weight: 500;
	border-radius: 5px;
	text-transform: uppercase;
}

.task-status{
	background-color: #2A3F4C;
	color: white;
	padding: 5px 20px;
	font-weight: 500;
	border-radius: 5px;
	position: relative;
	left: -76px;
	text-transform: uppercase;
}