<div class="main-container">
  <div class="main-left">
    <div class="left-top">
      <p id="logo">γ</p>
    </div>
    <div class="left-bottom">
      <div class="container green borderXwidth">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">ALL TASKS</a>
        <a class="nav-link" routerLink="/open" routerLinkActive="active">OPEN TASKS</a>
        <a class="nav-link" routerLink="/closed" routerLinkActive="active">CLOSED TASKS</a>
      </div>
    </div>
  </div>

  <div class="main-right">
    <div class="right-top">
      
    <p>Add a new task by clicking on the + button.</p>
      <a class="button plus" (click)="openDialog()">
        <span class="bg" id="plus"></span>
        <span class="symbol"></span>
      </a>
    <p>View details and actions by clicking on a task.</p>
    </div>
    <div class="right-bottom">
      <div class="list-header">
        <mat-expansion-panel class="panel" disabled hideToggle>
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="panel-title">
              <p>Title</p>
            </mat-panel-title>
            <mat-panel-description class="desc">
              <p class="list-heading">Assignee</p>
            </mat-panel-description>
            <mat-panel-description>
              <p class="list-heading2">Start date - End date</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </div>
      <div class="tasks-list">
        <router-outlet class="routeroutlet"></router-outlet>
      </div>
    </div>
  </div>
</div>