@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
	font-family: 'Rubik';
}

.example-stretched-tabs {
    max-width: 800px;
  }
::ng-deep .mat-tab-label{
    color:black;
    }
::ng-deep .mat-tab-link{
        color: black;
    }

.top-bar{
    background-color: rgb(158,173,186);
    width: 100%;
    height: 5%;
}

.gamma{
    text-align: center;
    margin: 30px;
}
.gamma h3{
    font-weight: 500;
    font-size: 30px;
    color: #2471b5;
}

.app-description{
    text-align: center;
}

header, footer
{
    font-family: Roboto;
    margin: 0 auto;
	  padding: 5em 3em;
	  text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer span
{
    color: #AAA;
}

.nav-link{
    font-family: Roboto;
    font-weight: 500;
}

a {
    text-decoration: none;
  }
  a::-moz-focus-inner {
    border: 0;
  }
  .button {
    transition: all 0.2s linear;
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    margin: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .button > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  .bg {
    border-radius: 50%;
    background-color: #2A3F4C;
    transition: all 0.2s linear;
  }
  
  .symbol::before, .symbol::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
    border-radius: 2px;
    content: "";
  }
  .symbol::before{
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    transition: background-color 1s linear;
  }
  .plus .symbol::after {
    width: 0.2rem;
    height: 1.5rem;
    background-color: white;
  }
  .bg::before, .bg::after {
    position: absolute;
    top: -4.75rem;
    left: -4.75rem;
    display: block;
    width: 15rem;
    height: 15rem;
    border: 4px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    transform: scale(0.4);
    opacity: 0;
  }
  .button:hover .bg {
    background-color: #618ca7
  }
  .bg:target {
    animation: push 1s ease-out;
    transition: all 1s linear;
  }
  #plus:target {
    background-color: #9EADBA;
  }
  #minus:target {
    background-color: #515676;
  }
  #minus:target + .symbol::before {
    background-color: #86abf1;
  }
  .bg:target::before, .bg:target::after {
    animation: wave 1s ease-in-out;
  }
  .bg:target::before {
    animation-delay: 0.2s;
  }
  .bg:target::after {
    animation-delay: 0.3s;
  }
  
  @keyframes push {
    15% {transform: scale(0.75); box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)}
    75% {transform: scale(1.1); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)}
    100% {transform: scale(1)}
  }
  
  @keyframes wave {
    10% {opacity: 0.3}
    100% {transform: scale(1); opacity: 0}
  }

  .main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
  }

  .main-left > *{
    border-right: none;
  }

  .main-right > *{
    border-right: none;
    border-left: none;
  }

  .main-left{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-right{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .left-top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #2A3F4C, #50748a);
  }

  .right-top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    border-bottom: 1px solid #2A3F4C;
  }

  .left-bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #2A3F4C;
  }

  .right-bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    overflow-y: scroll;
  }

  .list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .panel {
    width: 1100px;
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: none;
    background-color:whitesmoke;
  }
  
  .panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .panel-header p{
    margin: 0;
    color: #2A3F4C;
  }
  
  .panel-title {
    font-weight: 450;
    width: 30%;
    font-weight: 600;
  }

  .desc {
    margin-left: 50px;
    width: 15%;
  }

  .tasks-list{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .list-heading{
    position: relative;
    left: -26px;
    font-weight: 600;
  }

  .list-heading2{
    position: relative;
    left: -76px;
    font-weight: 600;
  }

  #logo{
    font-size: 110px;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-top: -30px;
  }

  .right-top p{
    margin: 0;
  }

  div.container
  {
      font-family: Roboto;
      color: white;
      letter-spacing: 0.1em;
      margin: 50px auto;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  div.container a.active{
      font-weight: 600;
  }
  
  div.container a
  {
      color: white;
      text-decoration: none;
      font: 20px Roboto;
      font-weight: 400;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }
  div.borderXwidth a:before, div.borderXwidth a:after
  {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: white;
      transition: all 0.3s;
  }
  
  div.borderXwidth a:before
  {
      left: 0px;
      top: 0px;
  }
  
  div.borderXwidth a:after
  {
      right: 0px;
      bottom: 0px;
  }
  
  div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
  {
      opacity: 1;
      width: 100%;
  }