.modal_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 550px;
    margin-left: 50px;
}
.mat-dialog-title {
    text-transform: uppercase;
    border-bottom: 1px solid #788896;
    margin-left: -50px;
}
/* Dialog close button styling */
#close_button {
    border: none;
    color: #788896;
    font-size: 150%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 12;
}
#close_button:focus{
    outline: none;
    border:none;
}
#close_button:hover {
    color: black;
}
/* Input styling */

.example-form {
    min-width: 150px;
    max-width: 550px;
    width: 90%;
  }
  
  .example-full-width {
    width: 100%;
  }

/* Textarea edit */

.textarea_edit {
    min-width: 150px;
    max-width: 550px;
    width: 90%;
}

/* Datepicker edit */

.datepicker_edit { 
    min-width: 150px;
    max-width: 550px;
    width: 90%;
    margin-top: 10px; 
}

/* Dropdown edit */

.dropdown_edit {
    width: 35%;
    margin: 0 30px;
}

@media only screen and (max-width: 700px) {
    .dropdown_edit{
        width: 30%;
        margin: 0 20px;
    }
  }

/* */

.input_field_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    position: relative;
    right: 30px;
    top: 40px;
}

/* */

#add_task_button {
    margin: 20px 0px;
    letter-spacing: 1.5px;
    width: 90px;
    height: 35px;
    background: #9EADBA;
    border: 2px solid #9EADBA;
    outline: none;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#add_task_button:hover{
    border: 2px solid black;
}

@media only screen and (max-width: 700px) {
    #add_task_button {
        right: 10px;
    }
      }

/* Font edit ( * ) targets all elements */
* {
    font-family: 'Rubik', sans-serif;
}